<h1>New Gram</h1>


<%= simple_form_for @gram do |f| %>
  <%= f.input :message %>
  <%= f.submit "Post!" %>
  <% end %>
  <br />
<%= simple_form_for @picture do |f| %>
  <%= f.input :photo %>
  <%= f.submit "Post the Pic!" %>
<% end %>

